.heroContent {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--color-primary);
  max-width: 50%;
  margin-inline: var(--gap-md) 0;
}

.heroContent h1 {
  font-size: clamp(3rem, 5vw, 3.25rem) !important;
  font-weight: 900;
}

.heroContent h2 {  
  margin-bottom: calc(var(--gap-xl) * 2);
}

.heroContent p {
  font-weight: 300;
  line-height: 1.5;
}

.heroButton {
  max-width: fit-content;
  background: var(--color-primary) !important;
  font-size: clamp(1.2rem, 3vw, 1.25rem) !important;
  border-radius: var(--border-radius-lg);
  padding: var(--gap-xl) !important;
  cursor: pointer;
}

.heroContent small {
  margin-top: var(--gap-lg);
}

/* Media Queries */
@media (max-width: 36rem) {
  .heroContent {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-inline: inherit;
  }
  
  .heroContent h2 {  
    font-size: 25px;
  }
}

@media (min-width: 36.063rem) and (max-width: 48rem) {
  .heroContent {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-inline: inherit;
  }
}

@media (min-width: 48.063rem) and (max-width: 62rem) {
  .heroContent {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-inline: inherit;
  }
}

@media (min-width: 62.063rem) and (max-width: 75rem) {
  /* No specific styles for this range yet */
}

@media (min-width: 75.063rem) {
  .heroContent h2 {  
    font-size: 25px;
  }
}
