.announcementBanner {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.announcementBanner > .zone1 {
  display: flex;
  flex-direction: column;
  color: var(--color-muted);
  padding: var(--gap-lg);
  width: 340px;
  background-color: #0053cc;
  clip-path: polygon(0% 0, 100% 0, 80% 100%, 0 100%);
}

[dir="rtl"] .announcementBanner > .zone1 {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 20% 100%);
}

.announcementBanner > .zone1 > span:first-child {
  font-size: 21px;
  font-weight: 200;
  line-height: 25px;
}
.announcementBanner > .zone1 > span:nth-child(2) {
  font-size: 21px;
  max-width: 80%;
  font-weight: 600;
  line-height: 25px;
}
.announcementBanner > .zone2 {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--gap-lg);
  font-size: 16px;

  color: var(--color-primary);
}
.announcementBanner > .zone2 > button {
  width: 80%;
  font-family: var(--primary-font);
  border: 1px solid var(--color-primary);
  border-radius: 50px;
}
.announcementBanner > .zone3 {
  width: 279px;
}

@media (max-width: 36rem) {
  .announcementBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .announcementBanner > .zone3 {
    display: none;
  }
  .announcementBanner > .zone1 {
    background-color: inherit;
    color: var(--color-primary);
    clip-path: none;
  }
}

@media (min-width: 36.063rem) and (max-width: 48rem) {
  .heroContent {
    width: 100%;
    max-width: max-content;
  }
}

@media (min-width: 48.063rem) and (max-width: 62rem) {
  .heroContent {
    width: 100%;
    max-width: max-content;
  }
}

@media (min-width: 62.063rem) and (max-width: 75rem) {
  .hero {
  }
}

@media (min-width: 75.063rem) {
  .hero {
  }
}
