.container{
    width: 100%;
    margin-bottom: var(--gap-xl);
}
.container > h2{
  font-size: 20px;
}
.container > main{
gap:var(--gap-xl)  }
.squareBox{
    flex: 1;
    aspect-ratio: 1 / 1; /* same as Tailwind's aspect-square */
    background-color: var(--color-primary); /* override gray-200 */
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 36rem) {
    .container{
        display: none;
    }
  }
  
  @media (min-width: 36.063rem) and (max-width: 48rem) {
    .container > main{
        gap:var(--gap-sm)  }
  }
  
  @media (min-width: 48.063rem) and (max-width: 62rem) {
  }
  
  @media (min-width: 62.063rem) and (max-width: 75rem) {
  }
  
  @media (min-width: 75.063rem) {
  }
  