.container {
  width: 100%;
  margin-bottom: var(--gap-xl);
}

.container > h2 {
  font-size: 20px;
}

.container > main {
  gap: var(--gap-xl);
}

.squareBox {
  border-radius: var(--border-radius-lg);
  flex: 1;
  aspect-ratio: 1 / 1; 
  background: linear-gradient(to top, var(--color-primary), var(--color-text)); 
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 36rem) {
  .container {
    display: none;
  }
}

@media (min-width: 36.063rem) and (max-width: 48rem) {
  .container > main {
    gap: var(--gap-sm);
  }
}

@media (min-width: 48.063rem) and (max-width: 62rem) {
  /* Add any styles for this breakpoint if needed */
}

@media (min-width: 62.063rem) and (max-width: 75rem) {
  /* Add any styles for this breakpoint if needed */
}

@media (min-width: 75.063rem) {
  /* Add any styles for this breakpoint if needed */
}
