.title {
  margin-bottom: 0;
  font-weight: 900 !important;
  font-size: 14px;
  margin-bottom: calc(var(--gap-xl) * 1.5);
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  background-color: var(--color-primary);
  color: white;
  padding: 15px;
  border-radius: 50px;
  width: fit-content;
}
.title:hover {
  cursor: pointer;
}
.description {
  font-size: 25px;
  line-height: clamp(20px, 5vw, 34px);
  margin-bottom: var(--gap-xl);
}
.listSponserShip {
  font-size: 16px;
}
.listSponserShip > li {
  display: flex;
  gap: var(--gap-sm);
}

.heroButton,
.heroButton_shadow {
  font-size: 1rem;
  color: var(--color-muted);
  background: var(--color-primary) !important;
  border-radius: var(--border-radius-xl);
  padding: var(--gap-xl);
  margin-bottom: var(--gap-lg);
}
.heroButton_shadow {
  position: absolute;
  top: 5px;
  z-index: 0;
}
/* Shadow variant RTL */
[dir="rtl"] .heroButton_shadow {
  right: 0;
}

/* Shadow variant LTR */
[dir="ltr"] .heroButton_shadow {
  left: 0;
}

.heroButton:hover {
  color: white !important;
}
.heroContent small {
  margin-top: var(--gap-lg);
}

@media (max-width: 36rem) {
  .headerBloc > div:nth-child(2) {
    display: none;
  }
  .pageHeader {
    margin-top: 200px;
  }
  .title {
    font-size: 20px;
    background-color: var(--color-primary);
    color: white;
    padding: 15px;
    border-radius: 15px;
  }
  .description {
    font-size: 16px;
  }
}

@media (min-width: 36.063rem) and (max-width: 48rem) {
}

@media (min-width: 48.063rem) and (max-width: 62rem) {
}

@media (min-width: 62.063rem) and (max-width: 75rem) {
}

@media (min-width: 75.063rem) {
}
