.container {
  margin-top: var(--gap-tiny);
  min-height: calc(100vh - 200px);
}
.steps {
  margin-bottom: var(--gap-xl);
}
.contentStyle {
  margin-top: var(--gap-md);
}
/*NEXT__BUTTON*/
.nextButton {
  margin-bottom: var(--gap-xl);
}
[dir="ltr"] .nextButton {
  float: right;
}
[dir="rtl"] .nextButton {
  float: left;
}
.container > footer {
  margin-top: var(--gap-lg);
  margin-bottom: var(--gap-lg);
}

@media (max-width: 36rem) {
  .container {
    margin-top: calc(var(--gap-xl) * 5);
  }
  .steps {
    display: none !important;
  }
}

@media (min-width: 36.063rem) and (max-width: 48rem) {
}

@media (min-width: 48.063rem) and (max-width: 62rem) {
}

@media (min-width: 62.063rem) and (max-width: 75rem) {
}

@media (min-width: 75.063rem) {
}
