.simulateurView {
  display: flex;
  width: 100%;
}
.simulateurView > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.etapeSimulateurView {
  width: 100%;
  margin: 10px;
  height: 100%;
  padding: 10px;
  color: var(--color-primary);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.individusContainer {
  display: flex;
  text-align: center;
  width: 100%;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
}
.individusContainer1 {
  display: flex;
  text-align: center;
  width: 100%;
  gap: 10px;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}
.synthese {
  flex: 1;
  padding: 50px;
  padding-top: 0px;
  color: var(--color-primary);
}
.synthese > h2 {
  font-size: 30px;
}
.cardWrapper {
  width: calc(50% - 10px); /* 50% width with spacing adjustment */
  display: flex;
  justify-content: center; /* Center button inside */
}
@media (max-width: 36rem) {
  .simulateurView {
    min-height: calc(100vh - 370px);
  }
  .synthese {
    display: none !important;
  }
  .simulateurView > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 36.063rem) and (max-width: 48rem) {
}

@media (min-width: 48.063rem) and (max-width: 62rem) {
}

@media (min-width: 62.063rem) and (max-width: 75rem) {
}

@media (min-width: 75.063rem) {
}
