/* appHeader.module.css */
.header {
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center; /* Vertically center the logo */
}
.profile {
  display: none;
  color: var(--color-primary);
}
.profileInfos {
  font-size: 10px;
}
.profileInfos > div:first-child {
  font-weight: 900;
  text-transform: uppercase;
}
.navBarContainer {
  display: flex;
  gap: var(--gap-lg);
  justify-content: center;
  align-items: center;
}
.navBarMobile {
  display: none;
  background-color: #f1f1f1;
  width: 100vw;
  padding-top: 20px;
  margin-top: 10px;

  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

@media (max-width: 36rem) {
  .profile {
    display: flex;
    border: 1px solid var(--color-primary);
    justify-content: center;
    align-items: center;
    gap: var(--gap-xl);
    padding: 2px;
    padding-left: 20px;

    padding-right: 20px;
    border-radius: 50px;
  }
  .profileInfos {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .header {
    max-height: 100px;
    flex-direction: column;
  }
  .navBarContainer {
    display: none;
  }
  .navBarMobile {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 36.063rem) and (max-width: 48rem) {
  .header {
    max-height: 120px;
    flex-direction: column;
  }
  .navBarContainer {
    display: none;
  }
  .navBarMobile {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 48.063rem) and (max-width: 62rem) {
  .header {
    max-height: 100px;
    flex-direction: column;
  }
  .navBarContainer {
    display: none;
  }
  .navBarMobile {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 62.063rem) and (max-width: 75rem) {
  .header {
    max-height: 90px;
  }
}

@media (min-width: 75.063rem) {
  .header {
    max-height: 100px;
  }
}
