.pageHeader {
  margin-top: 50px;
  margin-bottom: 70px;
}

.headerBloc {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  display: flex;
  justify-content: space-between;
  background: #e5edfa;
}
.pageIllustration {
  flex: 1;
  align-self: center;
  width: 20.8125rem;
  height: 16.4375rem;
}
.pageIllustration > img {
  width: 100%;
  height: 100%;
}
.pageDescription {
  flex: 3;
  color: #19355c;
  margin-right: 2.5rem;
}
@media (max-width: 36rem) {
  .headerBloc > div:nth-child(2) {
    display: none;
  }
  .headerBloc {
    padding-top: 60px !important;
  }
  .pageHeader {
    margin-top: 200px;
  }
  .pageIllustration {
  }
}

@media (min-width: 36.063rem) and (max-width: 48rem) {
}

@media (min-width: 48.063rem) and (max-width: 62rem) {
}

@media (min-width: 62.063rem) and (max-width: 75rem) {
}

@media (min-width: 75.063rem) {
  .headerBloc {
    border-radius: 15px;
  }
  .contentBackground {
    height: 62.5625rem;
  }
}
