
  /*NEXT__BUTTON*/
  .nextButton {
    margin-bottom: var(--gap-xl);
    font-size: 1rem;
  }
  [dir="ltr"] .nextButton {
    float: right;
  }
  [dir="rtl"] .nextButton {
    float: left;
  }

  .footer{
    display: flex;
    align-items: start;
    gap: var(--gap-lg);
    justify-content: space-around;
    margin-top: var(--gap-lg);
    margin-bottom: var(--gap-lg);
  }
  @media (max-width: 36rem) {
   
  }
  
  @media (min-width: 36.063rem) and (max-width: 48rem) {
  }
  
  @media (min-width: 48.063rem) and (max-width: 62rem) {
  }
  
  @media (min-width: 62.063rem) and (max-width: 75rem) {
  }
  
  @media (min-width: 75.063rem) {
  }
  