.memberCard {
    padding: var(--gap-sm);
    margin: var(--gap-sm) 0;  /* Combined margin-top and margin-bottom */
    color: var(--color-primary);
  }
  
  [dir="rtl"] .memberCard {
    border-right: 1px solid var(--color-primary);  /* Move common border-right here */
  }
  [dir="ltr"] .memberCard {
    border-left: 1px solid var(--color-primary);  /* Move common border-right here */
  }
  .memberName {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  